<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>About</title>
</head>
<body>
<% include blocks/header.ejs %>
<div class="container">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusantium asperiores aspernatur dolor dolorem dolores facilis id illum nobis officia perspiciatis quasi quia repellendus rerum sapiente sed sint tempore ut veritatis vitae. Explicabo, veritatis!</p>
    <p>
        <b>Email:</b><%= data.email %><br>
        <b>Pass:</b><%= data.pass %><br>
        <b>isCheck:</b> <%= (data.check) ? data.check : 'NO' %>
    </p>
</div>
</body>
</html>