<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <% include blocks/header.ejs %>
    <h1>Hello</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aperiam dignissimos eum expedita illo placeat ratione rem? Accusamus doloremque enim ex facilis, laudantium nisi nulla officia pariatur quod sapiente? Accusantium aperiam consequatur iusto labore natus perspiciatis, quae quaerat quis reprehenderit rerum. Accusamus amet at autem eaque eligendi error excepturi facilis odio quis sequi ullam, veniam voluptate. Delectus doloremque quas unde voluptate. Adipisci delectus dolorem ducimus eaque eius fugiat harum hic laboriosam provident reprehenderit saepe, sapiente vero voluptas. Enim excepturi illo magnam natus quidem soluta tempora tempore! Consectetur dignissimos, ea eum eveniet, fugiat molestias porro quia quisquam quos reprehenderit rerum similique, suscipit voluptas. Autem beatae commodi deserunt eaque eligendi est et, eum, fugiat in iusto mollitia nulla numquam pariatur placeat, quas quod ratione recusandae reprehenderit sequi vel. Asperiores assumenda aut autem corporis cum deleniti eligendi est illum iusto mollitia nihil non numquam odio odit quae quia quidem reiciendis rem sed, tenetur ullam veritatis voluptates? Aspernatur deleniti dolorum earum et excepturi inventore itaque laudantium maiores odit officia perspiciatis quaerat quas, sequi veritatis voluptatum? Accusantium adipisci assumenda autem, doloribus dolorum et ex facere facilis in iste maiores nihil porro, quia repellendus rerum! Commodi dignissimos, doloribus eligendi excepturi facere minima non reprehenderit sunt voluptatum.</p>
</body>
</html>