<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>News</title>
</head>
<body>
    <% include blocks/header.ejs %>
    <h1>Новостная страница с ID - <%= newsId %></h1>
    <p><b> Title: </b><%= obj.title %></p>
    <p><b> ID: </b><%= obj.id %></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet animi assumenda aut autem culpa dicta distinctio doloribus ducimus ea esse est, exercitationem harum illum inventore laborum libero magnam maxime nesciunt nihil nostrum odit omnis perspiciatis quasi quia quo quod reiciendis repellat reprehenderit similique suscipit ullam ut velit? Aliquid aspernatur blanditiis culpa dolorem odio recusandae voluptatibus! Alias, aperiam, beatae cumque delectus deleniti dolor earum exercitationem inventore laudantium, nobis perspiciatis quidem similique sit ut voluptas. Accusamus aut commodi deleniti dolor doloremque, ex in iure laboriosam molestiae mollitia odit provident recusandae sint velit voluptas. A accusamus adipisci aliquam corporis deleniti distinctio dolores et ex facilis fuga harum hic id illum iusto laboriosam mollitia nam natus necessitatibus nobis officiis perferendis perspiciatis placeat porro quaerat qui quia repudiandae sed sint suscipit tempore ut vel, voluptas voluptatum. Aperiam autem consequatur debitis excepturi ipsum maxime praesentium quo reprehenderit suscipit temporibus? Accusantium assumenda eaque ex labore rerum tenetur veniam. Accusamus aliquid asperiores consectetur cum debitis, dolorem dolores ducimus, earum enim error, est eveniet exercitationem hic laboriosam magnam maiores maxime modi nam nemo nisi non nulla odio omnis pariatur quam quasi quo recusandae repellat reprehenderit rerum vel velit vitae voluptatum. Culpa, deleniti dignissimos eaque explicabo ipsam recusandae repellendus.</p>
    <ul>
        <% obj.paragraphs.forEach((item) => { %>
            <li><%=item%></li>
        <% }); %>
        %>
    </ul>
</body>
</html>