<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>404 @@@@</title>
</head>
<body>
    <% include blocks/nav.ejs %>
    <section class="article-list">
        <div><%= msg %></div>
        <img src="https://cs10.pikabu.ru/images/big_size_comm/2018-09_5/1537517975132778667.jpg" width="800" height="800" style="margin: 0 auto;">
    </section>

</body>
</html>