<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <title><%= Title %></title>
</head>
<body>
    <% include blocks/nav.ejs %>
<h1><%= Title.replace(/.json/, '') %></h1>
<pre class="article-text">
    Глава 1: <%= Text.FirstChapter.titleChapter1 %>
    <%= Text.FirstChapter.textChapter1 %>
    Глава 2: <%= Text.SecondChapter.titleChapter2 %>
    <%= Text.SecondChapter.textChapter2 %>
</pre>
</body>
</html>