<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Удаление статьи</title>
</head>
<body>
    <% include blocks/nav.ejs %>
    <section>
        <form action="/del" method="post">
            <input required placeholder="Введите название статьи" type="text" name="del">
            <button type="submit">Удалить</button>
        </form>
        <div>
            Существующие статьи:
            <% titleName.forEach((title) => { %>
                <h4><%= title.replace(/.json/, '') %> </h4>
            <% }); %>
        </div>
    </section>

</body>
</html>