.article-list{
    text-align: center;
}
.article-list h3 {
    width: 200px;
    border: 2px solid darkgreen;
    margin: 20px auto 0 40px ;
}
.article-list a {
    color: mediumslateblue;
}

h1{
    margin: 10px 0 15px 20px;
}
.article-text{
    font-size: 20px;
    line-height: normal;
    margin: 10px;
}

li{
    font-size: 20px;
    list-style-type: none;
}
.add-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 30px;
}
.add-form .title{
    margin-bottom: 10px;
}